.grid{
    display: grid;
    margin-top: 20px;
    grid-template-areas: 
    'a a a b b'
    'c c c b b';
}

.select{
    grid-area: a;
    width: 100%;
}

.table{
    grid-area: c;
    width: 100%;
    margin-top: 30px;
}

.bill{
    grid-area: b;
    width: 100%;
    margin: 20px;
}

div > *{
    padding: 5px;
}
